<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="globalstream-to-sql.ZPM">
    <Module>
      <Name>globalstream-to-sql</Name>
	  <Description>Read GloblaStreams from SQL</Description> 
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rcc.PKG"/>
      <UnitTest Name="/src" Package="rcc.unittests" Phase="test"/>
    </Module>
  </Document>
</Export>
