<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="globalstream-to-sql.ZPM">
    <Module>
      <Name>globalstream-to-sql</Name>
	  <Description>Access GloblaStreams from SQL</Description> 
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="zrccx.MAC"/>
    </Module>
  </Document>
</Export>
